<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		Real-Estate Portal
	</title>
</head>
<body background="https://wallpapercave.com/wp/wp6499164.jpg" link="#000" alink="#017bf5" vlink="#000">
	<br />
	<h3 align="center">
		<font face="Brush Script MT" size="6">Real Estate Portal</font>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font face="Candara" size="4">
			<a href="{% url 'register' %}">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="{% url 'login' %}">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="{% url 'search' %}">Search</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="{% url 'login' %}">View</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="{% url 'login' %}">Post</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="{% url 'logout' %}">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
		</font>
	</h3>
	<br /><br />
	<h1 align="center">
		<font face="Lato" color="#017bf5" size="7">
			Welcome to Real Estate
		</font>
	</h1>
	<h3 align="center">
		<font face="Perpetua" size="4">
			<p style="font-style: italic;">
			Find your dream home
		    </p>
		</font>
	</h3>
	
	<br />
	<h3 align="center">
	<a href="#">
		<font face="Lato" color="#000">GET STARTED</font>
	</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#">
		<font face="Lato" color="#fff">SUBSCRIBE US</font>
	</a>
	</h3>
</body>
</html>