{% include 'header.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}

    <link rel="stylesheet" type="text/css" href={% static 'css/animsition.min.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'css/login.css' %}>

    <div class="container py-5 wrap-post p-l-55 p-r-55 p-t-65 p-b-54" style="margin-left: 32%; position: absolute">
        <h2 class="apartment-h2"> Enter Apartment Details </h2>
        <form method="POST">
            {% csrf_token %}
            <div class="wrap-input100 validate-input m-b-23" data-validate="Required">
                {{ save_apartment_form.location|as_crispy_field }}
            </div>
            <div class="wrap-input100 validate-input m-b-23" data-validate="Required">
                {{ save_apartment_form.apartment_type|as_crispy_field }}
            </div>
            <div class="wrap-input100 validate-input m-b-23" data-validate="Required">
                {{ save_apartment_form.description|as_crispy_field }}
            </div>
            <div class="wrap-input100 validate-input m-b-23" data-validate="Required">
                {{ save_apartment_form.utilities|as_crispy_field }}
            </div>

            <div class="wrap-input100 validate-input m-b-23" data-validate="Required">
                {{ save_apartment_form.picture|as_crispy_field }}
            </div>

            <div class="wrap-input100 validate-input m-b-23" data-validate="Required">
                {{ save_apartment_form.money|as_crispy_field }}
            </div>

            <br>

            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn">
                        Save Apartment
                    </button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}